body {
    background-color: rgb(20, 20, 20);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.menu {
    list-style: none;
    padding: 0;
    background-color: rgb(124, 197, 63);
    width: 90%;
    max-width: 1000px;
    margin: auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    text-align: right;
}

.menu li{
    display: inline-block;
    text-align: center;
    
}

.menu li a{
    border-radius: 5px;
    transition: 0.1s;
}
.menu li a:hover{
    background-color: rgb(97, 97, 97);
    transform: scale(1.15);
}

.card {
    background-color: rgb(112, 204, 59);
    display: flex;
    width: 500px;
    margin: 50px auto;
    
}